In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [7]:
train.Age.fillna(train.Age.mean(), inplace=True)
test.Age.fillna(test.Age.mean(), inplace=True)

In [8]:
train.Cabin.fillna(train.Cabin.mode()[0], inplace=True)
test.Cabin.fillna(test.Cabin.mode()[0], inplace=True)

In [9]:
train.Embarked.fillna(train.Embarked.mode()[0], inplace=True)

In [10]:
test.Fare.fillna(train.Fare.mean(), inplace=True)

In [11]:
train.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [12]:
train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [13]:
cat_col = []
for col in train.columns:
    if train[col].dtype == "object":
        cat_col.append(col)

#LabelEncoder
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
for column in cat_col:
    train[column] = lb.fit_transform(train[column])
    test[column] = lb.fit_transform(test[column])

In [14]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,108,1,22.0,1,0,523,7.2500,47,2
1,2,1,1,190,0,38.0,1,0,596,71.2833,81,0
2,3,1,3,353,0,26.0,0,0,669,7.9250,47,2
3,4,1,1,272,0,35.0,1,0,49,53.1000,55,2
4,5,0,3,15,1,35.0,0,0,472,8.0500,47,2

In [15]:
X = train.drop(['Survived', 'PassengerId'], axis=1).values
y = train.Survived.values

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=0)

In [17]:
import lightgbm as lgb
lgb_train = lgb.Dataset(X_train, y_train)
lgb_eval = lgb.Dataset(X_test, y_test, reference=lgb_train)

In [18]:
params = {
        'task': 'train',
        'objective': 'binary',
        'metric': 'binary_error',
        'verbose': 1
}

In [19]:
gbm = lgb.train(params,
            lgb_train,
            num_boost_round=5000,
            early_stopping_rounds=100,
            valid_sets=[lgb_train,lgb_eval],
            valid_names=['train', 'eval'])

[1]	train's binary_error: 0.388443	eval's binary_error: 0.373134
Training until validation scores don't improve for 100 rounds.
[2]	train's binary_error: 0.29695	eval's binary_error: 0.283582
[3]	train's binary_error: 0.218299	eval's binary_error: 0.201493
[4]	train's binary_error: 0.187801	eval's binary_error: 0.190299
[5]	train's binary_error: 0.187801	eval's binary_error: 0.190299
[6]	train's binary_error: 0.18138	eval's binary_error: 0.190299
[7]	train's binary_error: 0.173355	eval's binary_error: 0.190299
[8]	train's binary_error: 0.173355	eval's binary_error: 0.190299
[9]	train's binary_error: 0.168539	eval's binary_error: 0.190299
[10]	train's binary_error: 0.168539	eval's binary_error: 0.186567
[11]	train's binary_error: 0.157303	eval's binary_error: 0.179104
[12]	train's binary_error: 0.154093	eval's binary_error: 0.171642
[13]	train's binary_error: 0.152488	eval's binary_error: 0.179104
[14]	train's binary_error: 0.141252	eval's binary_error: 0.164179
[15]	train's binary_error: 0.138042	eval's binary_error: 0.164179
[16]	train's binary_error: 0.133226	eval's binary_error: 0.16791
[17]	train's binary_error: 0.141252	eval's binary_error: 0.16791
[18]	train's binary_error: 0.131621	eval's binary_error: 0.16791
[19]	train's binary_error: 0.126806	eval's binary_error: 0.175373
[20]	train's binary_error: 0.123596	eval's binary_error: 0.171642
[21]	train's binary_error: 0.120385	eval's binary_error: 0.175373
[22]	train's binary_error: 0.113965	eval's binary_error: 0.16791
[23]	train's binary_error: 0.11236	eval's binary_error: 0.175373
[24]	train's binary_error: 0.101124	eval's binary_error: 0.171642
[25]	train's binary_error: 0.0995185	eval's binary_error: 0.16791
[26]	train's binary_error: 0.0979133	eval's binary_error: 0.156716
[27]	train's binary_error: 0.0979133	eval's binary_error: 0.160448
[28]	train's binary_error: 0.0979133	eval's binary_error: 0.164179
[29]	train's binary_error: 0.0979133	eval's binary_error: 0.160448
[30]	train's binary_error: 0.0979133	eval's binary_error: 0.160448
[31]	train's binary_error: 0.094703	eval's binary_error: 0.164179
[32]	train's binary_error: 0.0930979	eval's binary_error: 0.156716
[33]	train's binary_error: 0.0834671	eval's binary_error: 0.156716
[34]	train's binary_error: 0.0786517	eval's binary_error: 0.156716
[35]	train's binary_error: 0.0786517	eval's binary_error: 0.152985
[36]	train's binary_error: 0.0754414	eval's binary_error: 0.156716
[37]	train's binary_error: 0.070626	eval's binary_error: 0.156716
[38]	train's binary_error: 0.0658106	eval's binary_error: 0.152985
[39]	train's binary_error: 0.0658106	eval's binary_error: 0.160448
[40]	train's binary_error: 0.0642055	eval's binary_error: 0.160448
[41]	train's binary_error: 0.0626003	eval's binary_error: 0.164179
[42]	train's binary_error: 0.0626003	eval's binary_error: 0.160448
[43]	train's binary_error: 0.0609952	eval's binary_error: 0.160448
[44]	train's binary_error: 0.0609952	eval's binary_error: 0.160448
[45]	train's binary_error: 0.0609952	eval's binary_error: 0.164179
[46]	train's binary_error: 0.0577849	eval's binary_error: 0.164179
[47]	train's binary_error: 0.0577849	eval's binary_error: 0.164179
[48]	train's binary_error: 0.0561798	eval's binary_error: 0.160448
[49]	train's binary_error: 0.0561798	eval's binary_error: 0.164179
[50]	train's binary_error: 0.0529695	eval's binary_error: 0.164179
[51]	train's binary_error: 0.0529695	eval's binary_error: 0.160448
[52]	train's binary_error: 0.0497592	eval's binary_error: 0.164179
[53]	train's binary_error: 0.0481541	eval's binary_error: 0.16791
[54]	train's binary_error: 0.0449438	eval's binary_error: 0.16791
[55]	train's binary_error: 0.0449438	eval's binary_error: 0.16791
[56]	train's binary_error: 0.0417335	eval's binary_error: 0.16791
[57]	train's binary_error: 0.0369181	eval's binary_error: 0.16791
[58]	train's binary_error: 0.035313	eval's binary_error: 0.164179
[59]	train's binary_error: 0.0321027	eval's binary_error: 0.16791
[60]	train's binary_error: 0.0321027	eval's binary_error: 0.16791
[61]	train's binary_error: 0.0288925	eval's binary_error: 0.16791
[62]	train's binary_error: 0.024077	eval's binary_error: 0.171642
[63]	train's binary_error: 0.0256822	eval's binary_error: 0.171642
[64]	train's binary_error: 0.0272873	eval's binary_error: 0.16791
[65]	train's binary_error: 0.0256822	eval's binary_error: 0.16791
[66]	train's binary_error: 0.0176565	eval's binary_error: 0.16791
[67]	train's binary_error: 0.0176565	eval's binary_error: 0.171642
[68]	train's binary_error: 0.0192616	eval's binary_error: 0.171642
[69]	train's binary_error: 0.0160514	eval's binary_error: 0.16791
[70]	train's binary_error: 0.0160514	eval's binary_error: 0.16791
[71]	train's binary_error: 0.0144462	eval's binary_error: 0.171642
[72]	train's binary_error: 0.0144462	eval's binary_error: 0.16791
[73]	train's binary_error: 0.0144462	eval's binary_error: 0.171642
[74]	train's binary_error: 0.011236	eval's binary_error: 0.171642
[75]	train's binary_error: 0.00963082	eval's binary_error: 0.179104
[76]	train's binary_error: 0.011236	eval's binary_error: 0.171642
[77]	train's binary_error: 0.00963082	eval's binary_error: 0.16791
[78]	train's binary_error: 0.011236	eval's binary_error: 0.175373
[79]	train's binary_error: 0.00802568	eval's binary_error: 0.175373
[80]	train's binary_error: 0.00642055	eval's binary_error: 0.175373
[81]	train's binary_error: 0.00642055	eval's binary_error: 0.175373
[82]	train's binary_error: 0.00802568	eval's binary_error: 0.175373
[83]	train's binary_error: 0.00802568	eval's binary_error: 0.175373
[84]	train's binary_error: 0.00642055	eval's binary_error: 0.175373
[85]	train's binary_error: 0.00642055	eval's binary_error: 0.175373
[86]	train's binary_error: 0.00481541	eval's binary_error: 0.175373
[87]	train's binary_error: 0.00481541	eval's binary_error: 0.175373
[88]	train's binary_error: 0.00481541	eval's binary_error: 0.175373
[89]	train's binary_error: 0.00481541	eval's binary_error: 0.175373
[90]	train's binary_error: 0.00481541	eval's binary_error: 0.182836
[91]	train's binary_error: 0.00481541	eval's binary_error: 0.179104
[92]	train's binary_error: 0.00481541	eval's binary_error: 0.182836
[93]	train's binary_error: 0.00321027	eval's binary_error: 0.175373
[94]	train's binary_error: 0.00321027	eval's binary_error: 0.175373
[95]	train's binary_error: 0.00321027	eval's binary_error: 0.175373
[96]	train's binary_error: 0.00321027	eval's binary_error: 0.179104
[97]	train's binary_error: 0.00321027	eval's binary_error: 0.175373
[98]	train's binary_error: 0.00321027	eval's binary_error: 0.179104
[99]	train's binary_error: 0.00160514	eval's binary_error: 0.179104
[100]	train's binary_error: 0.00321027	eval's binary_error: 0.175373
[101]	train's binary_error: 0.00321027	eval's binary_error: 0.175373
[102]	train's binary_error: 0.00160514	eval's binary_error: 0.175373
[103]	train's binary_error: 0.00160514	eval's binary_error: 0.171642
[104]	train's binary_error: 0.00160514	eval's binary_error: 0.171642
[105]	train's binary_error: 0.00160514	eval's binary_error: 0.171642
[106]	train's binary_error: 0.00160514	eval's binary_error: 0.16791
[107]	train's binary_error: 0.00160514	eval's binary_error: 0.16791
[108]	train's binary_error: 0.00160514	eval's binary_error: 0.16791
[109]	train's binary_error: 0.00160514	eval's binary_error: 0.16791
[110]	train's binary_error: 0.00160514	eval's binary_error: 0.171642
[111]	train's binary_error: 0.00160514	eval's binary_error: 0.171642
[112]	train's binary_error: 0.00160514	eval's binary_error: 0.171642
[113]	train's binary_error: 0.00160514	eval's binary_error: 0.175373
[114]	train's binary_error: 0.00160514	eval's binary_error: 0.179104
[115]	train's binary_error: 0.00160514	eval's binary_error: 0.175373
[116]	train's binary_error: 0.00160514	eval's binary_error: 0.175373
[117]	train's binary_error: 0.00160514	eval's binary_error: 0.175373
[118]	train's binary_error: 0.00160514	eval's binary_error: 0.175373
[119]	train's binary_error: 0.00160514	eval's binary_error: 0.175373
[120]	train's binary_error: 0.00160514	eval's binary_error: 0.175373
[121]	train's binary_error: 0.00160514	eval's binary_error: 0.175373
[122]	train's binary_error: 0.00160514	eval's binary_error: 0.175373
[123]	train's binary_error: 0.00160514	eval's binary_error: 0.179104
[124]	train's binary_error: 0.00160514	eval's binary_error: 0.179104
[125]	train's binary_error: 0.00160514	eval's binary_error: 0.179104
[126]	train's binary_error: 0.00160514	eval's binary_error: 0.182836
[127]	train's binary_error: 0.00160514	eval's binary_error: 0.182836
[128]	train's binary_error: 0.00160514	eval's binary_error: 0.182836
[129]	train's binary_error: 0.00160514	eval's binary_error: 0.182836
[130]	train's binary_error: 0.00160514	eval's binary_error: 0.182836
[131]	train's binary_error: 0.00160514	eval's binary_error: 0.179104
[132]	train's binary_error: 0.00160514	eval's binary_error: 0.179104
[133]	train's binary_error: 0.00160514	eval's binary_error: 0.179104
[134]	train's binary_error: 0.00160514	eval's binary_error: 0.179104
[135]	train's binary_error: 0.00160514	eval's binary_error: 0.179104
Early stopping, best iteration is:
[35]	train's binary_error: 0.0786517	eval's binary_error: 0.152985

In [20]:
prediction = gbm.predict(X_test)

In [21]:
encodedPrediction = [1 if x > 0.50 else 0 for x in prediction]

In [22]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [23]:
print(accuracy_score(y_test, encodedPrediction))
print(confusion_matrix(y_test, encodedPrediction))

0.8470149253731343
[[154  14]
 [ 27  73]]

In [24]:
import lgbmTrainingAPI_to_pmml

In [25]:
filename = 'lgbmExportedPMM.pmml'

In [26]:
lgbmTrainingAPI_to_pmml.Export(model = gbm , data = lgb_train.data, pmml_f_name = filename)

In [79]:
# jsondata = gbm.dump_model()
# import pprint
# pp = pprint.PrettyPrinter()
# pp.pprint(jsondata)

In [30]:
gbm.save_model('textModel.txt')

#FILE RECONSTRUCT

In [80]:
newgbm = lgb.basic.Booster(params = {'model_str' : open('textModel.txt', "r").read()})

In [81]:
frcprediction = newgbm.predict(X_test)

In [82]:
frcencodedPrediction = [1 if x > 0.50 else 0 for x in frcprediction]

In [83]:
print(accuracy_score(y_test, frcencodedPrediction))
print(confusion_matrix(y_test, frcencodedPrediction))

0.8470149253731343
[[154  14]
 [ 27  73]]

#PMML RECONSTRUCT

In [84]:
import pmml_to_lgbmTrainAPI

In [85]:
reconstructed_model = pmml_to_lgbmTrainAPI.reconstruct(filename)

In [86]:
rcprediction = reconstructed_model.predict(X_test)

In [87]:
rcencodedPrediction = [1 if x > 0.50 else 0 for x in rcprediction]

In [88]:
print(accuracy_score(y_test, rcencodedPrediction))
print(confusion_matrix(y_test, rcencodedPrediction))

0.664179104477612
[[92 76]
 [14 86]]

In [ ]:
# model has not been reconstructed properly 
# Reason
# Left Child and Right Child values
# Order of other tree values
# TODO
# Compare Tempfile.txt and textModel.txt